.MovieGallery {
	display: grid;
	max-width: calc(100vw - 48px);
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	grid-gap: 16px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

.MovieGalleryTitle {
	font-size: 50px;
	margin-bottom: 25px;
	text-shadow: 4px 3px 5px rgba(150, 150, 150, 1);
}

.MovieGalleryItem {
	margin-bottom: 15px;
}
